.inline-block{
    display: inline-block;
}

img.MiddleLogo {
    width: 251px;
    transform: scale(2,1);
    margin-left: 162px;
}

img.MiddleSeparatorSymbol {
    margin-left: 27px;
    margin-right: 27px;
}

img.TheoiSideLogo {
    width: 238px;
}