.inline-block{
    display: inline-block;
}

img.MiddleLogo {
    width: 45px;
    /* vertical-align: middle; */
    /* padding-top: 9px; */
    margin-left: 110px;
}

img.MiddleSeparatorSymbol {
    margin-left: 27px;
    margin-right: 27px;
}

img.TeotlSideLogo {
    width: 65px;
}