<form class="form Template">
    <div class="Page1">
        <div class="TopHalfPart row">
            <div class="LeftPart inline-block">
                <div class="AspectsContainer">
                    <div class="AspectsTitleContainer">
                        <span class="AspectsTitle">Aspects</span>
                    </div>
                    <div class="AspectsContentContainer">
                        <ul class="AspectsContent">
                            <li id="Aspect1" class="Aspect"></li>
                            <li id="Aspect2" class="Aspect"></li>
                            <li id="Aspect3" class="Aspect"></li>
                            <li id="Aspect4" class="Aspect"></li>
                            <li id="Aspect5" class="Aspect"></li>
                        </ul>
                    </div>
                </div>
                <div class="ConsequencesContainer">
                    <div class="ConsequencesTitleContainer">
                        <span class="ConsequencesTitle">Consequences</span>
                    </div>
                    <div class="StressContainer">
                        <div class="PhysicalStressContainer">
                            <span class="PhysicalStressTitle inline-block">Physical Stress: </span>
                            <div class="PhysicalStressNumbers inline-block">
                                <div class="SquareBox inline-block"></div>
                                <span class="StressNumber">1</span>
                                <div class="SquareBox inline-block"></div>
                                <span class="StressNumber">2</span>
                                <div class="SquareBox inline-block"></div>
                                <span class="StressNumber">3</span>
                            </div>
                        </div>
                        <div class="MentalStressContainer">
                            <span class="MentalStressTitle inline-block">Mental Stress: </span>
                            <div class="MentalStressNumbers inline-block">
                                <div class="SquareBox inline-block"></div>
                                <span class="StressNumber">1</span>
                                <div class="SquareBox inline-block"></div>
                                <span class="StressNumber">2</span>
                                <div class="SquareBox inline-block"></div>
                                <span class="StressNumber">3</span>
                            </div>
                        </div>
                    </div>
                    <div class="ConsequencesLabelsContainer">
                        <div class="PhysicalConsequencesContainer">
                            <div class="PhysicalConsequencesTitleContainer">
                                <span class="ConseqContentTitle">Physical Consequences:</span>
                            </div>
                            <div class="ConsequencesContentContainer">
                                <div class="Consequence">Mild: </div>
                                <div class="Consequence">Moderate: </div>
                                <div class="Consequence">Severe: </div>
                            </div>
                        </div>
                        <div class="MentalConsequencesContainer">
                            <div class="MentalConsequencesTitleContainer">
                                <span class="ConseqContentTitle">Mental Consequences:</span>
                            </div>
                            <div class="ConsequencesContentContainer">
                                <div class="Consequence">Mild: </div>
                                <div class="Consequence">Moderate: </div>
                                <div class="Consequence">Severe: </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="RightPart inline-block">
                <div class="FrameContainer">
                    <img class="CharacterPicture" src="">
                </div>
                <div class="InformationContainer">
                    <div id="CharacterName" class="CharacterName">Name: <span class="CharacterNameInside"></span></div>
                    <div class="CharacterName">Parent: </div>
                    <div class="CharacterName">Fate Points:&nbsp;&nbsp;&nbsp;&nbsp;/3</div>
                    <div class="CharacterName">XP: </div>
                    <div class="CharacterName">Level: </div>
                </div>
                <div class="FateContainer">
                    <div class="FateTitleContainer">
                        <span class="FateTitle">Fate</span>
                    </div>
                    <div class="FatebindingsContainer">
                        <div class="FatebindingsTitleContainer">
                            <span class="FatebindingsTitle">Number of Fatebindings: </span>
                        </div>
                        <div class="FatebindingsConsequencesContainer">
                            <div class="FatebindingsConseqTitleContainer">
                                <span class="ConseqContentTitle">Fate Consequences: </span>
                            </div>
                            <div class="ConsequencesContentContainer">
                                <div class="Consequence">Mild: </div>
                                <div class="Consequence">Moderate: </div>
                                <div class="Consequence">Severe: </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        <div class="SkillPart row">
            <div class="row text-center">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 SkillsContainer">
                    <div id="Skill_4_1" class="Skill col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="SkillLevelLabel">+4</div><span class="SkillInside"></span></div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 SkillsContainer">
                    <div id="Skill_3_1" class="Skill col-lg-6 col-md-6 col-sm-6 col-xs-6"><div class="SkillLevelLabel">+3</div><span class="SkillInside"></span></div>
                    <div id="Skill_3_2" class="Skill col-lg-6 col-md-6 col-sm-6 col-xs-6"><div class="SkillLevelLabel">+3</div><span class="SkillInside"></span></div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 SkillsContainer">
                    <div id="Skill_2_1" class="Skill col-lg-4 col-md-4 col-sm-4 col-xs-4"><div class="SkillLevelLabel">+2</div><span class="SkillInside"></span></div>
                    <div id="Skill_2_2" class="Skill col-lg-4 col-md-4 col-sm-4 col-xs-4"><div class="SkillLevelLabel">+2</div><span class="SkillInside"></span></div>
                    <div id="Skill_2_3" class="Skill col-lg-4 col-md-4 col-sm-4 col-xs-4"><div class="SkillLevelLabel">+2</div><span class="SkillInside"></span></div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 SkillsContainer">
                    <div id="Skill_1_1" class="Skill col-lg-3 col-md-3 col-sm-3 col-xs-3"><div class="SkillLevelLabel">+1</div><span class="SkillInside"></span></div>
                    <div id="Skill_1_2" class="Skill col-lg-3 col-md-3 col-sm-3 col-xs-3"><div class="SkillLevelLabel">+1</div><span class="SkillInside"></span></div>
                    <div id="Skill_1_3" class="Skill col-lg-3 col-md-3 col-sm-3 col-xs-3"><div class="SkillLevelLabel">+1</div><span class="SkillInside"></span></div>
                    <div id="Skill_1_4" class="Skill col-lg-3 col-md-3 col-sm-3 col-xs-3"><div class="SkillLevelLabel">+1</div><span class="SkillInside"></span></div>
                </div>
            </div>
        </div>
        <div class="NotesPart row">
            <textarea rows="8" class="form-control">Notes:</textarea>
        </div>
        <footer class="TemplateFooter">
            <img class="LeftLogo" src="Templates/Logo7.png">
            <img class="MiddleLogo" src="Templates/Bogi/BogiSymbol3.jpg">         
            <img class="MiddleLogo" src="Templates/Bogi/BogiSymbol.png">
            <img class="MiddleLogo" src="Templates/Bogi/BogiSymbol3.jpg">         
            <img class="MiddleLogo" src="Templates/Bogi/BogiSymbol.png">
            <img class="RightLogo" src="Templates/Bogi/BogiSymbol2.png">
        </footer>
    </div>
    <div class="Page2">
        <div class="StuntsContainer row">
            <div class="StuntsTitleContainer row text-center"><span class="StuntsTitle uppercase">Stunts</span></div>
            <div class="StuntsContentContainer row"></div>
        </div>
        <div class="row SeparatorSymbols">
            <img class="AyllusSideLogo" src="Templates/Bogi/BogiSymbol3.jpg">         
            <img class="AyllusSideLogo" src="Templates/Bogi/BogiSymbol.png">
            <img class="MiddleSeparatorSymbol" src="Templates/Bogi/BogiSymbol2.png">
            <img class="AyllusSideLogo" src="Templates/Bogi/BogiSymbol.png">
            <img class="AyllusSideLogo" src="Templates/Bogi/BogiSymbol3.jpg">
        </div>
        <div class="row AbilitiesContainer">
            <div class="row AbilitiesTitleContainer text-center"><span class="AbilitiesTitle uppercase">Abilities</span></div>
            <div class="row AbilitiesContentContainer">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject bold uppercase">Level 1</span>
                            </div>
                        </div>
                        <div class="portlet-body Level1 Ability"></div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject bold uppercase">Level 2</span>
                            </div>
                        </div>
                        <div class="portlet-body Level2 Ability"></div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject bold uppercase">Level 3</span>
                            </div>
                        </div>
                        <div class="portlet-body Level3 Ability"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>