.inline-block{
    display: inline-block;
}

img.MiddleLogo {
    width: 50px;
    /* vertical-align: middle; */
    /*padding-top: 9px;*/
    margin-left: 73px;
    transform: rotate(90deg);
}

img.MiddleSeparatorSymbol {
    margin-left: 30px;
    margin-right: 30px;
}

img.DevaSideLogo {
    transform: rotate(90deg);
    width: 60px;
    margin-left: 35px;
    margin-right: 35px;
}